public/workflows/wf-b2b-revenue-autopilot.json
{
  "name": "🚀 B2B Revenue Intelligence & Outreach Autopilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 8 }]
        }
      },
      "id": "b2b-001",
      "name": "Schedule — Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Cache-Control", "value": "no-cache" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ api_key: $env.APOLLO_API_KEY, q_organization_num_employees_ranges: ['11,200','201,1000'], person_titles: ['CEO','CTO','COO','Head of Operations','VP Sales','Founder'], person_locations: ['France','Belgium','Switzerland','Canada'], contact_email_status: ['verified','likely to engage'], page: 1, per_page: 25 }) }}"
      },
      "id": "b2b-002",
      "name": "HTTP — Apollo Fetch ICP Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.first().json.people || [];\nconsole.log('[Apollo] ' + leads.length + ' leads fetched');\nreturn leads.map(p => ({ json: {\n  apollo_id: p.id,\n  first_name: p.first_name || '',\n  last_name: p.last_name || '',\n  full_name: (p.first_name || '') + ' ' + (p.last_name || ''),\n  email: p.email || '',\n  title: p.title || '',\n  linkedin_url: p.linkedin_url || '',\n  company: p.organization?.name || '',\n  company_domain: p.organization?.primary_domain || '',\n  company_size: p.organization?.num_employees || 0,\n  company_industry: p.organization?.industry || '',\n  company_country: p.organization?.country || '',\n  company_technologies: p.organization?.technology_names || [],\n  seniority: p.seniority || '',\n  fetched_at: new Date().toISOString()\n}}));"
      },
      "id": "b2b-003",
      "name": "Code — Extract & Normalize Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b2b-004",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b2b-005",
      "name": "IF — Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json.email }] }], properties: ['email', 'hs_lead_status', 'lifecyclestage'], limit: 1 }) }}"
      },
      "id": "b2b-006",
      "name": "HTTP — HubSpot Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "b2b-007",
      "name": "IF — New Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.2, max_tokens: 500, messages: [{ role: 'system', content: 'You are a B2B sales intelligence expert for AI/automation services targeting SMBs. Score this prospect and return ONLY valid JSON: {\"icp_score\":75,\"icp_segment\":\"HOT\",\"pain_points\":[\"pain1\",\"pain2\"],\"automation_opportunities\":[\"opp1\"],\"personalization_hook\":\"one compelling opening line\",\"recommended_service\":\"n8n_automation\",\"email_subject\":\"subject line\",\"email_tone\":\"executive\"}. Segments: HOT(>=80), WARM(60-79), COLD(40-59). Score based on: company size 20-500(+20pts), tech industry(+20pts), decision-maker title(+20pts), known tech stack(+15pts), intent signals(+25pts).' }, { role: 'user', content: 'Score: Name=' + $json.full_name + ' Title=' + $json.title + ' Company=' + $json.company + '(' + $json.company_industry + ',' + $json.company_size + ' employees) Country=' + $json.company_country + ' Tech=' + ($json.company_technologies || []).join(',') }] }) }}"
      },
      "id": "b2b-008",
      "name": "HTTP — GPT-4o ICP Score & Intel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.choices?.[0]?.message?.content || '{}';\nlet scoring = {};\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  scoring = m ? JSON.parse(m[0]) : {};\n} catch(e) {\n  scoring = { icp_score: 0, icp_segment: 'COLD', pain_points: [], error: true };\n}\nreturn [{ json: {\n  ...item,\n  icp_score: scoring.icp_score || 0,\n  icp_segment: scoring.icp_segment || 'COLD',\n  pain_points: scoring.pain_points || [],\n  automation_opportunities: scoring.automation_opportunities || [],\n  personalization_hook: scoring.personalization_hook || '',\n  recommended_service: scoring.recommended_service || 'n8n_automation',\n  email_subject: scoring.email_subject || 'Automatisation pour ' + item.company,\n  email_tone: scoring.email_tone || 'professional'\n}}];"
      },
      "id": "b2b-009",
      "name": "Code — Parse ICP Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 240]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.icp_score }}",
              "operation": "largerEqual",
              "value2": 40
            }
          ]
        }
      },
      "id": "b2b-010",
      "name": "IF — Score >= 40? (Not Disqualified)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { email: $json.email, firstname: $json.first_name, lastname: $json.last_name, jobtitle: $json.title, company: $json.company, hs_lead_status: $json.icp_segment, hubspot_score: $json.icp_score, lifecyclestage: $json.icp_score >= 80 ? 'salesqualifiedlead' : 'lead', website: 'https://' + ($json.company_domain || ''), source: 'apollo_autopilot' } }) }}"
      },
      "id": "b2b-011",
      "name": "HTTP — HubSpot Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.7, max_tokens: 300, messages: [{ role: 'system', content: 'You are Oussama Abassi, an expert n8n automation and AI agent developer. Write a highly personalized cold email in French (max 100 words). Rules: start with the personalization hook directly, mention their specific company/situation, one concrete problem, one specific solution, one CTA (15-min call). Conversational peer-to-peer tone, not salesy. End with: Oussama A. | Automation & IA | oussama.dev. Return ONLY the email body text, no subject.' }, { role: 'user', content: 'Write email for: ' + $json.first_name + ', ' + $json.title + ' at ' + $json.company + '(' + $json.company_industry + '). Pain points: ' + ($json.pain_points || []).join(', ') + '. Hook: ' + $json.personalization_hook + '. Service: ' + $json.recommended_service }] }) }}"
      },
      "id": "b2b-012",
      "name": "HTTP — GPT-4o Generate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2660, 160]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst emailBody = item.choices?.[0]?.message?.content || '';\nreturn [{ json: { ...item, email_body: emailBody } }];"
      },
      "id": "b2b-013",
      "name": "Code — Extract Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SENDGRID_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ personalizations: [{ to: [{ email: $json.email, name: $json.full_name }] }], from: { email: 'oussama@oussama.dev', name: 'Oussama A.' }, reply_to: { email: 'oussama@oussama.dev' }, subject: $json.email_subject, content: [{ type: 'text/plain', value: $json.email_body }] }) }}"
      },
      "id": "b2b-014",
      "name": "HTTP — SendGrid Send Email #1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3100, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.OUTREACH_SHEET_ID + '/values/Outreach_Log!A1:append?valueInputOption=USER_ENTERED' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.GDRIVE_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ $json.apollo_id, $json.full_name, $json.email, $json.company, $json.company_industry, $json.title, $json.icp_score, $json.icp_segment, $json.recommended_service, new Date().toISOString(), '1', 'SENT', ($json.pain_points || []).join(' | ') ]] }) }}"
      },
      "id": "b2b-015",
      "name": "HTTP — Google Sheets Log Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3320, 160]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "b2b-016",
      "name": "Wait — 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3540, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json.email }] }], properties: ['hs_email_open', 'hs_email_click', 'hs_sales_email_last_replied'], limit: 1 }) }}"
      },
      "id": "b2b-017",
      "name": "HTTP — Check Email Engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3760, 160]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.results[0]?.properties?.hs_email_open || '' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      },
      "id": "b2b-018",
      "name": "IF — Email Opened?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3980, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.7, max_tokens: 200, messages: [{ role: 'system', content: 'Write a short follow-up email in French (max 60 words). Reference the first email naturally. Add new value with a specific use case. End with a low-commitment CTA (yes/no question or 15-min call). Conversational tone. Return ONLY the email body.' }, { role: 'user', content: 'Follow-up for ' + $json.first_name + ' at ' + $json.company + '(' + $json.company_industry + '). First email was about: ' + $json.recommended_service + ' for: ' + ($json.pain_points || [])[0] }] }) }}"
      },
      "id": "b2b-019",
      "name": "HTTP — GPT-4o Follow-up Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4200, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SENDGRID_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ personalizations: [{ to: [{ email: $json.email, name: $json.full_name }] }], from: { email: 'oussama@oussama.dev', name: 'Oussama A.' }, subject: 'Re: ' + $json.email_subject, content: [{ type: 'text/plain', value: $json.choices?.[0]?.message?.content || '' }] }) }}"
      },
      "id": "b2b-020",
      "name": "HTTP — SendGrid Follow-up J+3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4420, 80]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "b2b-021",
      "name": "Wait — 4 More Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [4640, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json.email }] }], properties: ['hs_sales_email_last_replied'], limit: 1 }) }}"
      },
      "id": "b2b-022",
      "name": "HTTP — Check Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4860, 80]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.results[0]?.properties?.hs_sales_email_last_replied || '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b2b-023",
      "name": "IF — Reply Received?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [5080, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '🔥 *HOT LEAD — Réponse reçue !*\\n\\n*Prospect:* ' + $json.full_name + '\\n*Titre:* ' + $json.title + ' @ ' + $json.company + '\\n*Score ICP:* ' + $json.icp_score + '/100 (' + $json.icp_segment + ')\\n*Service recommandé:* ' + $json.recommended_service + '\\n\\n*Pain points:*\\n' + ($json.pain_points || []).map(p => '• ' + p).join('\\n') + '\\n\\nLinkedIn: ' + $json.linkedin_url }) }}"
      },
      "id": "b2b-024",
      "name": "HTTP — Slack Hot Lead Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5300, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { dealname: $json.company + ' — ' + $json.recommended_service, dealstage: 'appointmentscheduled', pipeline: 'default', amount: $json.icp_score >= 80 ? 1500 : 800, closedate: new Date(Date.now() + 30*24*60*60*1000).toISOString().split('T')[0], deal_source: 'apollo_autopilot' } }) }}"
      },
      "id": "b2b-025",
      "name": "HTTP — HubSpot Create Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5520, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SENDGRID_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ personalizations: [{ to: [{ email: $json.email, name: $json.full_name }] }], from: { email: 'oussama@oussama.dev', name: 'Oussama A.' }, subject: '📅 15 minutes — ' + $json.company + ' × Oussama', content: [{ type: 'text/html', value: '<p>Bonjour ' + $json.first_name + ',</p><p>Merci pour votre retour. Je serais ravi d'échanger 15 minutes pour vous montrer concrètement comment j'aborderais votre situation chez ' + $json.company + '.</p><p><a href=\"https://calendly.com/oussamaabassi/15min\" style=\"background:#00ffc8;color:#000;padding:12px 24px;text-decoration:none;border-radius:6px;font-weight:bold;display:inline-block\">→ Choisir un créneau (15 min)</a></p><p>À très vite,<br><strong>Oussama A.</strong><br>Automation & IA | oussama.dev</p>' }] }) }}"
      },
      "id": "b2b-026",
      "name": "HTTP — SendGrid Calendly Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5740, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.4, max_tokens: 400, messages: [{ role: 'system', content: 'Generate a concise pre-meeting briefing (max 200 words) for a sales call. Include: company overview, 3 likely challenges, 3 talking points, 3 qualifying questions, recommended solution angle.' }, { role: 'user', content: 'Brief for: ' + $json.full_name + ', ' + $json.title + ' at ' + $json.company + '. Industry: ' + $json.company_industry + '. Size: ' + $json.company_size + ' employees. Tech: ' + ($json.company_technologies || []).join(', ') + '. Pain points: ' + ($json.pain_points || []).join(', ') + '. Service: ' + $json.recommended_service }] }) }}"
      },
      "id": "b2b-027",
      "name": "HTTP — GPT-4o Pre-Meeting Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [5960, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SENDGRID_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ personalizations: [{ to: [{ email: 'oussama@oussama.dev' }] }], from: { email: 'oussama@oussama.dev', name: 'Pipeline B2B' }, subject: '📋 Brief pré-RDV — ' + $json.full_name + ' / ' + $json.company, content: [{ type: 'text/html', value: '<h2>Brief pré-RDV</h2><p><strong>' + $json.title + '</strong> @ ' + $json.company + ' (' + $json.company_industry + ', ' + $json.company_size + ' emp.)</p><p><strong>Score ICP:</strong> ' + $json.icp_score + '/100 | <strong>Service:</strong> ' + $json.recommended_service + '</p><hr><h3>Analyse IA :</h3><p>' + ($json.choices?.[0]?.message?.content || '') + '</p><p>LinkedIn: <a href=\"' + $json.linkedin_url + '\">' + $json.linkedin_url + '</a></p>' }] }) }}"
      },
      "id": "b2b-028",
      "name": "HTTP — Email Brief to Oussama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [6180, 40]
    },
    {
      "parameters": {
        "content": "## 🚀 B2B Revenue Intelligence & Outreach Autopilot\n\n**Variables d'env requises (Settings > Variables) :**\n• OPENAI_API_KEY\n• APOLLO_API_KEY\n• HUBSPOT_TOKEN\n• SENDGRID_API_KEY\n• GDRIVE_ACCESS_TOKEN\n• OUTREACH_SHEET_ID\n• SLACK_WEBHOOK_URL\n\n**Flux principal :**\n1. Schedule 08h → Apollo fetch leads ICP\n2. Code normalize leads\n3. Split 1 par 1\n4. IF email présent?\n5. HubSpot check doublons\n6. IF nouveau lead?\n7. GPT-4o ICP score 0-100\n8. IF score >= 40?\n9. HubSpot créer contact\n10. GPT-4o email ultra-personnalisé\n11. SendGrid envoi email #1\n12. Google Sheets log\n13. Wait 3 jours\n14. HubSpot check ouverture\n15. IF ouvert → follow-up GPT-4o J+3\n16. Wait 4 jours\n17. HubSpot check réponse\n18. IF réponse → Slack alert + Deal + Calendly\n19. GPT-4o brief pré-RDV\n20. Email brief à Oussama",
        "height": 500,
        "width": 480,
        "color": 5
      },
      "id": "b2b-029",
      "name": "📋 Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 660]
    }
  ],
  "connections": {
    "Schedule — Daily 08:00": {
      "main": [[{ "node": "HTTP — Apollo Fetch ICP Leads", "type": "main", "index": 0 }]]
    },
    "HTTP — Apollo Fetch ICP Leads": {
      "main": [[{ "node": "Code — Extract & Normalize Leads", "type": "main", "index": 0 }]]
    },
    "Code — Extract & Normalize Leads": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "IF — Has Email?", "type": "main", "index": 0 }]]
    },
    "IF — Has Email?": {
      "main": [
        [{ "node": "HTTP — HubSpot Check Duplicate", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — HubSpot Check Duplicate": {
      "main": [[{ "node": "IF — New Lead?", "type": "main", "index": 0 }]]
    },
    "IF — New Lead?": {
      "main": [
        [{ "node": "HTTP — GPT-4o ICP Score & Intel", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — GPT-4o ICP Score & Intel": {
      "main": [[{ "node": "Code — Parse ICP Scoring", "type": "main", "index": 0 }]]
    },
    "Code — Parse ICP Scoring": {
      "main": [[{ "node": "IF — Score >= 40? (Not Disqualified)", "type": "main", "index": 0 }]]
    },
    "IF — Score >= 40? (Not Disqualified)": {
      "main": [
        [{ "node": "HTTP — HubSpot Create Contact", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — HubSpot Create Contact": {
      "main": [[{ "node": "HTTP — GPT-4o Generate Email", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Generate Email": {
      "main": [[{ "node": "Code — Extract Email Body", "type": "main", "index": 0 }]]
    },
    "Code — Extract Email Body": {
      "main": [[{ "node": "HTTP — SendGrid Send Email #1", "type": "main", "index": 0 }]]
    },
    "HTTP — SendGrid Send Email #1": {
      "main": [[{ "node": "HTTP — Google Sheets Log Outreach", "type": "main", "index": 0 }]]
    },
    "HTTP — Google Sheets Log Outreach": {
      "main": [[{ "node": "Wait — 3 Days", "type": "main", "index": 0 }]]
    },
    "Wait — 3 Days": {
      "main": [[{ "node": "HTTP — Check Email Engagement", "type": "main", "index": 0 }]]
    },
    "HTTP — Check Email Engagement": {
      "main": [[{ "node": "IF — Email Opened?", "type": "main", "index": 0 }]]
    },
    "IF — Email Opened?": {
      "main": [
        [{ "node": "HTTP — GPT-4o Follow-up Email", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — GPT-4o Follow-up Email": {
      "main": [[{ "node": "HTTP — SendGrid Follow-up J+3", "type": "main", "index": 0 }]]
    },
    "HTTP — SendGrid Follow-up J+3": {
      "main": [[{ "node": "Wait — 4 More Days", "type": "main", "index": 0 }]]
    },
    "Wait — 4 More Days": {
      "main": [[{ "node": "HTTP — Check Reply", "type": "main", "index": 0 }]]
    },
    "HTTP — Check Reply": {
      "main": [[{ "node": "IF — Reply Received?", "type": "main", "index": 0 }]]
    },
    "IF — Reply Received?": {
      "main": [
        [{ "node": "HTTP — Slack Hot Lead Alert", "type": "main", "index": 0 }],
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — Slack Hot Lead Alert": {
      "main": [[{ "node": "HTTP — HubSpot Create Deal", "type": "main", "index": 0 }]]
    },
    "HTTP — HubSpot Create Deal": {
      "main": [[{ "node": "HTTP — SendGrid Calendly Link", "type": "main", "index": 0 }]]
    },
    "HTTP — SendGrid Calendly Link": {
      "main": [[{ "node": "HTTP — GPT-4o Pre-Meeting Brief", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Pre-Meeting Brief": {
      "main": [[{ "node": "HTTP — Email Brief to Oussama", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "wf-b2b-revenue-autopilot-v2",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
