public/workflows/wf-b2b-revenue-autopilot.json
{
  "name": "B2B Revenue Autopilot — Prospection & Outreach IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24, "triggerAtHour": 8 }]
        }
      },
      "id": "b2b-001",
      "name": "Schedule — Daily 08h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "content": "## Étape 1 — Recherche de prospects ICP\nAppel Apollo.io pour récupérer des leads qualifiés (CEO/CTO/Founder, 11-1000 employés, France/Belgique/Suisse/Canada)",
        "height": 180,
        "width": 340
      },
      "id": "note-01",
      "name": "Note — Prospection ICP",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [420, 220]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "method": "POST"
      },
      "id": "b2b-002",
      "name": "HTTP — Apollo Fetch ICP Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.first().json.people || [];\nconsole.log('[Apollo] ' + leads.length + ' leads fetched');\nreturn leads.map(p => ({ json: {\n  apollo_id: p.id || 'unknown',\n  first_name: p.first_name || '',\n  last_name: p.last_name || '',\n  full_name: (p.first_name || '') + ' ' + (p.last_name || ''),\n  email: p.email || '',\n  title: p.title || '',\n  linkedin_url: p.linkedin_url || '',\n  company: p.organization ? p.organization.name : '',\n  company_domain: p.organization ? p.organization.primary_domain : '',\n  company_size: p.organization ? p.organization.num_employees : 0,\n  company_industry: p.organization ? p.organization.industry : '',\n  company_country: p.organization ? p.organization.country : '',\n  seniority: p.seniority || '',\n  fetched_at: new Date().toISOString()\n}}));"
      },
      "id": "b2b-003",
      "name": "Code — Normaliser Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b2b-004",
      "name": "SplitInBatches — 1 Lead à la fois",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b2b-005",
      "name": "IF — Email valide?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "content": "## Étape 2 — Enrichissement LinkedIn\nScraping LinkedIn pour obtenir les dernières activités, publications et signaux d'intention du prospect",
        "height": 180,
        "width": 340
      },
      "id": "note-02",
      "name": "Note — Enrichissement",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1300, 220]
    },
    {
      "parameters": {
        "url": "https://nubela.co/proxycurl/api/v2/linkedin",
        "method": "GET"
      },
      "id": "b2b-006",
      "name": "HTTP — Proxycurl LinkedIn Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 340]
    },
    {
      "parameters": {
        "url": "https://nubela.co/proxycurl/api/v2/linkedin/company/job",
        "method": "GET"
      },
      "id": "b2b-007",
      "name": "HTTP — Proxycurl Company Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "jsCode": "const profile = $('HTTP — Proxycurl LinkedIn Profile').first().json;\nconst jobs = $('HTTP — Proxycurl Company Jobs').first().json;\nconst lead = $('IF — Email valide?').first().json;\n\nconst recent_posts = profile.activities ? profile.activities.slice(0, 3).map(a => a.title || '').join(' | ') : '';\nconst headline = profile.headline || '';\nconst summary = profile.summary || '';\nconst company_desc = profile.experiences && profile.experiences[0] ? profile.experiences[0].description || '' : '';\nconst hiring = jobs.job ? true : false;\n\nreturn [{ json: {\n  ...lead,\n  linkedin_headline: headline,\n  linkedin_summary: summary.slice(0, 300),\n  recent_posts: recent_posts,\n  company_description: company_desc.slice(0, 300),\n  is_hiring: hiring,\n  enriched_at: new Date().toISOString()\n}}];"
      },
      "id": "b2b-008",
      "name": "Code — Fusionner Données Enrichies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "content": "## Étape 3 — Score IA du prospect\nGPT-4o analyse le profil complet et attribue un score ICP de 0 à 100 + identifie les pain points pertinents",
        "height": 180,
        "width": 340
      },
      "id": "note-03",
      "name": "Note — Scoring IA",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1760, 220]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-009",
      "name": "HTTP — GPT-4o Score ICP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst lead = $('Code — Fusionner Données Enrichies').first().json;\n\nlet score = 0;\nlet pain_points = [];\nlet opportunity = '';\nlet icp_tier = 'C';\n\ntry {\n  const content = resp.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  score = parsed.score || 0;\n  pain_points = parsed.pain_points || [];\n  opportunity = parsed.opportunity || '';\n  if (score >= 80) icp_tier = 'A';\n  else if (score >= 60) icp_tier = 'B';\n  else icp_tier = 'C';\n} catch(e) {\n  score = 0;\n  pain_points = ['analyse indisponible'];\n}\n\nreturn [{ json: {\n  ...lead,\n  icp_score: score,\n  icp_tier: icp_tier,\n  pain_points: pain_points,\n  opportunity_summary: opportunity,\n  scored_at: new Date().toISOString()\n}}];"
      },
      "id": "b2b-010",
      "name": "Code — Parser Score ICP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 400]
    },
    {
      "parameters": {
        "dataType": "number",
        "value1": "={{ $json.icp_score }}",
        "rules": {
          "rules": [
            { "operation": "largerEqual", "value2": 80, "output": 0 },
            { "operation": "largerEqual", "value2": 60, "output": 1 },
            { "operation": "smaller", "value2": 60, "output": 2 }
          ]
        }
      },
      "id": "b2b-011",
      "name": "Switch — Tier A / B / C",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [2240, 400]
    },
    {
      "parameters": {
        "content": "## Étape 4 — Rédaction email ultra-personnalisé\nGPT-4o rédige un email cold outreach basé sur les pain points identifiés, les posts LinkedIn récents et le contexte de l'entreprise",
        "height": 200,
        "width": 360
      },
      "id": "note-04",
      "name": "Note — Rédaction Email",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2460, 180]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-012",
      "name": "HTTP — GPT-4o Email Tier A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2480, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-013",
      "name": "HTTP — GPT-4o Email Tier B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2480, 460]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "skip_reason", "value": "ICP score too low — under 60" },
            { "name": "icp_tier", "value": "={{ $json.icp_tier }}" },
            { "name": "full_name", "value": "={{ $json.full_name }}" }
          ]
        },
        "options": {}
      },
      "id": "b2b-014",
      "name": "Set — Marquer Skip Tier C",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2480, 620]
    },
    {
      "parameters": {
        "jsCode": "const email_resp = $input.first().json;\nconst lead = $('Switch — Tier A / B / C').first().json;\n\nlet subject = '';\nlet body = '';\n\ntry {\n  const content = email_resp.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  subject = parsed.subject || 'Collaboration automation';\n  body = parsed.body || '';\n} catch(e) {\n  subject = 'Automatiser vos processus — ' + (lead.company || '');\n  body = 'Bonjour ' + (lead.first_name || '') + ', ...';\n}\n\nreturn [{ json: {\n  ...lead,\n  email_subject: subject,\n  email_body: body,\n  email_generated_at: new Date().toISOString()\n}}];"
      },
      "id": "b2b-015",
      "name": "Code — Parser Email Généré",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2720, 380]
    },
    {
      "parameters": {
        "content": "## Étape 5 — Vérification anti-spam\nAnalyse du score spam, vérification des règles de conformité RGPD et validation du ton avant envoi",
        "height": 160,
        "width": 320
      },
      "id": "note-05",
      "name": "Note — Anti-Spam",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2940, 200]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-016",
      "name": "HTTP — GPT-4o Spam Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2960, 380]
    },
    {
      "parameters": {
        "jsCode": "const check = $input.first().json;\nconst lead = $('Code — Parser Email Généré').first().json;\n\nlet spam_score = 0;\nlet is_compliant = true;\nlet improvements = [];\n\ntry {\n  const content = check.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  spam_score = parsed.spam_score || 0;\n  is_compliant = parsed.is_compliant !== false;\n  improvements = parsed.improvements || [];\n} catch(e) {\n  spam_score = 5;\n}\n\nreturn [{ json: {\n  ...lead,\n  spam_score: spam_score,\n  is_compliant: is_compliant,\n  email_improvements: improvements,\n  ready_to_send: spam_score < 30 && is_compliant\n}}];"
      },
      "id": "b2b-017",
      "name": "Code — Parser Spam Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3180, 380]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ready_to_send }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b2b-018",
      "name": "IF — Prêt à envoyer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3400, 380]
    },
    {
      "parameters": {
        "content": "## Étape 6 — Envoi & CRM\nEnvoi via SendGrid + enregistrement dans Pipedrive CRM + ajout dans Google Sheets dashboard",
        "height": 160,
        "width": 340
      },
      "id": "note-06",
      "name": "Note — Envoi CRM",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3620, 180]
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/mail/send",
        "method": "POST"
      },
      "id": "b2b-019",
      "name": "HTTP — SendGrid Envoi Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3640, 320]
    },
    {
      "parameters": {
        "url": "https://api.pipedrive.com/v1/persons",
        "method": "POST"
      },
      "id": "b2b-020",
      "name": "HTTP — Pipedrive Créer Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3640, 480]
    },
    {
      "parameters": {
        "url": "https://api.pipedrive.com/v1/leads",
        "method": "POST"
      },
      "id": "b2b-021",
      "name": "HTTP — Pipedrive Créer Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3860, 400]
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID/values/Outreach!A1:append",
        "method": "POST"
      },
      "id": "b2b-022",
      "name": "HTTP — Sheets Logger Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4080, 400]
    },
    {
      "parameters": {
        "content": "## Étape 7 — Tracking & Follow-up\nSuivi des ouvertures/clics via Webhook + planification automatique des relances J+3, J+7, J+14",
        "height": 180,
        "width": 360
      },
      "id": "note-07",
      "name": "Note — Follow-up",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [4300, 180]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-events",
        "responseMode": "onReceived",
        "responseData": "noData"
      },
      "id": "b2b-023",
      "name": "Webhook — Email Events SendGrid",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [4320, 400]
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\nconst opens = events.filter(e => e.json.event === 'open');\nconst clicks = events.filter(e => e.json.event === 'click');\nconst bounces = events.filter(e => e.json.event === 'bounce');\nconst unsubscribes = events.filter(e => e.json.event === 'unsubscribe');\n\nreturn [{ json: {\n  total_events: events.length,\n  opens: opens.length,\n  clicks: clicks.length,\n  bounces: bounces.length,\n  unsubscribes: unsubscribes.length,\n  open_rate: events.length > 0 ? Math.round(opens.length / events.length * 100) : 0,\n  click_rate: opens.length > 0 ? Math.round(clicks.length / opens.length * 100) : 0,\n  processed_at: new Date().toISOString()\n}}];"
      },
      "id": "b2b-024",
      "name": "Code — Agréger Métriques Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4540, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.should_followup }}",
        "rules": {
          "rules": [
            { "value2": "day3", "output": 0 },
            { "value2": "day7", "output": 1 },
            { "value2": "day14", "output": 2 },
            { "value2": "no", "output": 3 }
          ]
        }
      },
      "id": "b2b-025",
      "name": "Switch — Relance J+3/J+7/J+14",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [4760, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-026",
      "name": "HTTP — GPT-4o Relance J+3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4980, 240]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-027",
      "name": "HTTP — GPT-4o Relance J+7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4980, 400]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST"
      },
      "id": "b2b-028",
      "name": "HTTP — GPT-4o Relance J+14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4980, 560]
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/mail/send",
        "method": "POST"
      },
      "id": "b2b-029",
      "name": "HTTP — SendGrid Envoyer Relance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [5200, 400]
    },
    {
      "parameters": {
        "content": "## Étape 8 — Dashboard & Alertes\nMise à jour du Notion Dashboard avec les métriques de la campagne + alerte Slack si un prospect Tier A ouvre ou clique",
        "height": 180,
        "width": 360
      },
      "id": "note-08",
      "name": "Note — Dashboard",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [5420, 180]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/pages",
        "method": "POST"
      },
      "id": "b2b-030",
      "name": "HTTP — Notion Update Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [5440, 360]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.icp_tier }}",
              "value2": "A"
            }
          ]
        }
      },
      "id": "b2b-031",
      "name": "IF — Tier A ouvert/cliqué?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [5440, 520]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "method": "POST"
      },
      "id": "b2b-032",
      "name": "HTTP — Slack Alerte Hot Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [5660, 460]
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID/values/Metrics!A1:append",
        "method": "POST"
      },
      "id": "b2b-033",
      "name": "HTTP — Sheets KPIs Campagne",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [5660, 320]
    }
  ],
  "connections": {
    "Schedule — Daily 08h00": {
      "main": [[{ "node": "HTTP — Apollo Fetch ICP Leads", "type": "main", "index": 0 }]]
    },
    "HTTP — Apollo Fetch ICP Leads": {
      "main": [[{ "node": "Code — Normaliser Leads", "type": "main", "index": 0 }]]
    },
    "Code — Normaliser Leads": {
      "main": [[{ "node": "SplitInBatches — 1 Lead à la fois", "type": "main", "index": 0 }]]
    },
    "SplitInBatches — 1 Lead à la fois": {
      "main": [[{ "node": "IF — Email valide?", "type": "main", "index": 0 }]]
    },
    "IF — Email valide?": {
      "main": [
        [{ "node": "HTTP — Proxycurl LinkedIn Profile", "type": "main", "index": 0 }],
        []
      ]
    },
    "HTTP — Proxycurl LinkedIn Profile": {
      "main": [[{ "node": "HTTP — Proxycurl Company Jobs", "type": "main", "index": 0 }]]
    },
    "HTTP — Proxycurl Company Jobs": {
      "main": [[{ "node": "Code — Fusionner Données Enrichies", "type": "main", "index": 0 }]]
    },
    "Code — Fusionner Données Enrichies": {
      "main": [[{ "node": "HTTP — GPT-4o Score ICP", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Score ICP": {
      "main": [[{ "node": "Code — Parser Score ICP", "type": "main", "index": 0 }]]
    },
    "Code — Parser Score ICP": {
      "main": [[{ "node": "Switch — Tier A / B / C", "type": "main", "index": 0 }]]
    },
    "Switch — Tier A / B / C": {
      "main": [
        [{ "node": "HTTP — GPT-4o Email Tier A", "type": "main", "index": 0 }],
        [{ "node": "HTTP — GPT-4o Email Tier B", "type": "main", "index": 0 }],
        [{ "node": "Set — Marquer Skip Tier C", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — GPT-4o Email Tier A": {
      "main": [[{ "node": "Code — Parser Email Généré", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Email Tier B": {
      "main": [[{ "node": "Code — Parser Email Généré", "type": "main", "index": 0 }]]
    },
    "Code — Parser Email Généré": {
      "main": [[{ "node": "HTTP — GPT-4o Spam Check", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Spam Check": {
      "main": [[{ "node": "Code — Parser Spam Check", "type": "main", "index": 0 }]]
    },
    "Code — Parser Spam Check": {
      "main": [[{ "node": "IF — Prêt à envoyer?", "type": "main", "index": 0 }]]
    },
    "IF — Prêt à envoyer?": {
      "main": [
        [{ "node": "HTTP — SendGrid Envoi Email", "type": "main", "index": 0 }],
        []
      ]
    },
    "HTTP — SendGrid Envoi Email": {
      "main": [[{ "node": "HTTP — Pipedrive Créer Contact", "type": "main", "index": 0 }]]
    },
    "HTTP — Pipedrive Créer Contact": {
      "main": [[{ "node": "HTTP — Pipedrive Créer Lead", "type": "main", "index": 0 }]]
    },
    "HTTP — Pipedrive Créer Lead": {
      "main": [[{ "node": "HTTP — Sheets Logger Outreach", "type": "main", "index": 0 }]]
    },
    "Webhook — Email Events SendGrid": {
      "main": [[{ "node": "Code — Agréger Métriques Email", "type": "main", "index": 0 }]]
    },
    "Code — Agréger Métriques Email": {
      "main": [[{ "node": "Switch — Relance J+3/J+7/J+14", "type": "main", "index": 0 }]]
    },
    "Switch — Relance J+3/J+7/J+14": {
      "main": [
        [{ "node": "HTTP — GPT-4o Relance J+3", "type": "main", "index": 0 }],
        [{ "node": "HTTP — GPT-4o Relance J+7", "type": "main", "index": 0 }],
        [{ "node": "HTTP — GPT-4o Relance J+14", "type": "main", "index": 0 }],
        []
      ]
    },
    "HTTP — GPT-4o Relance J+3": {
      "main": [[{ "node": "HTTP — SendGrid Envoyer Relance", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Relance J+7": {
      "main": [[{ "node": "HTTP — SendGrid Envoyer Relance", "type": "main", "index": 0 }]]
    },
    "HTTP — GPT-4o Relance J+14": {
      "main": [[{ "node": "HTTP — SendGrid Envoyer Relance", "type": "main", "index": 0 }]]
    },
    "HTTP — SendGrid Envoyer Relance": {
      "main": [[{ "node": "HTTP — Notion Update Dashboard", "type": "main", "index": 0 }]]
    },
    "HTTP — Notion Update Dashboard": {
      "main": [[{ "node": "IF — Tier A ouvert/cliqué?", "type": "main", "index": 0 }]]
    },
    "IF — Tier A ouvert/cliqué?": {
      "main": [
        [{ "node": "HTTP — Slack Alerte Hot Lead", "type": "main", "index": 0 }],
        [{ "node": "HTTP — Sheets KPIs Campagne", "type": "main", "index": 0 }]
      ]
    },
    "HTTP — Slack Alerte Hot Lead": {
      "main": [[{ "node": "HTTP — Sheets KPIs Campagne", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["b2b", "outreach", "ia", "automation", "prospection"],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "b2b-revenue-autopilot-v1"
}
