public/workflows/wf-medical-doc-intelligence.json
{
  "name": "AI Medical Document Intelligence Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "## 🏥 AI Medical Document Intelligence Pipeline\n\n**Ce que fait ce workflow :**\n1. Reçoit un PDF médical (ordonnance, bilan, imagerie)\n2. Extrait le texte via OCR (PDF.co)\n3. Classifie le document avec GPT-4o\n4. Extrait toutes les données structurées\n5. Valide les données extraites\n6. Recherche / crée le dossier patient\n7. Archive dans Google Drive\n8. Alerte Slack si STAT/Urgent\n9. Notifie le médecin par email\n10. Crée une tâche de suivi Notion\n11. Génère le rapport de conformité RGPD\n\n**Variables d'environnement requises :**\n- OPENAI_API_KEY\n- PDFCO_API_KEY\n- PATIENT_API_BASE + PATIENT_API_TOKEN\n- GDRIVE_ACCESS_TOKEN\n- AUDIT_SHEET_ID\n- NOTION_API_KEY + NOTION_FOLLOWUP_DB\n- SLACK_WEBHOOK_URL\n- SENDGRID_API_KEY",
        "height": 420,
        "width": 460,
        "color": 5
      },
      "id": "note-1",
      "name": "📋 Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 600]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medical-doc",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-1",
      "name": "📥 Webhook — Receive PDF Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "doc_id", "value": "={{ $now.toMillis().toString() }}" },
            { "name": "received_at", "value": "={{ $now.toISO() }}" },
            { "name": "file_url", "value": "={{ $json.file_url }}" },
            { "name": "requester_email", "value": "={{ $json.requester_email || '' }}" }
          ]
        },
        "options": {}
      },
      "id": "node-2",
      "name": "⚙️ Set — Initialize Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.pdf.co/v1/pdf/convert/to/text",
        "method": "POST",
        "options": {}
      },
      "id": "node-3",
      "name": "📄 PDF.co — OCR Extract Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node-4",
      "name": "✅ IF — OCR Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.body || '';\nconst cleaned = raw.replace(/\\s+/g, ' ').replace(/[|]/g, 'I').trim();\nreturn [{ json: {\n  raw_text: raw,\n  cleaned_text: cleaned,\n  char_count: cleaned.length,\n  word_count: cleaned.split(' ').length,\n  doc_id: $input.first().json.doc_id,\n  file_url: $input.first().json.file_url,\n  requester_email: $input.first().json.requester_email\n}}];"
      },
      "id": "node-5",
      "name": "🧹 Code — Clean & Normalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {}
      },
      "id": "node-6",
      "name": "🤖 GPT-4o — Classify Document Type",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices?.[0]?.message?.content || '{}';\nlet cls = {};\ntry { cls = JSON.parse(content.match(/\\{[\\s\\S]*\\}/)[0]); } catch(e) { cls = { type: 'UNKNOWN', confidence: 0, urgency: 'ROUTINE', language: 'fr' }; }\nreturn [{ json: { ...$input.first().json, doc_type: cls.type || 'UNKNOWN', doc_confidence: cls.confidence || 0, doc_urgency: cls.urgency || 'ROUTINE' }}];"
      },
      "id": "node-7",
      "name": "🔍 Code — Parse Document Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.doc_type }}",
        "rules": {
          "rules": [
            { "value2": "PRESCRIPTION" },
            { "value2": "LAB_RESULT" },
            { "value2": "IMAGING_REPORT" },
            { "value2": "REFERRAL" }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "node-8",
      "name": "🔀 Switch — Route by Document Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {}
      },
      "id": "node-9",
      "name": "💊 GPT-4o — Extract Prescription Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 80]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {}
      },
      "id": "node-10",
      "name": "🔬 GPT-4o — Extract Lab Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {}
      },
      "id": "node-11",
      "name": "🩻 GPT-4o — Extract Imaging Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 360]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {}
      },
      "id": "node-12",
      "name": "📝 GPT-4o — Extract Referral / Other",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.choices?.[0]?.message?.content || '{}';\nlet extracted = {};\ntry { extracted = JSON.parse(raw.match(/\\{[\\s\\S]*\\}/)[0]); } catch(e) { extracted = { extraction_error: true }; }\nconst errors = [];\nif (!extracted.patient?.full_name) errors.push('MISSING_PATIENT_NAME');\nif (extracted.extraction_error) errors.push('GPT_PARSE_ERROR');\nreturn [{ json: { ...item, extracted_data: extracted, validation_errors: errors, is_valid: errors.length === 0, has_critical: item.doc_urgency === 'STAT' || extracted.critical_finding === true || extracted.is_narcotics === true }}];"
      },
      "id": "node-13",
      "name": "🔎 Code — Parse & Validate Extracted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 280]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-14",
      "name": "✅ IF — Data Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 280]
    },
    {
      "parameters": {
        "url": "={{ $env.PATIENT_API_BASE + '/patients/search' }}",
        "method": "GET",
        "options": {}
      },
      "id": "node-15",
      "name": "🔎 HTTP — Search Patient in System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-16",
      "name": "👤 IF — Patient Exists in System?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.PATIENT_API_BASE + '/patients/' + $json.patient_id }}",
        "method": "PATCH",
        "options": {}
      },
      "id": "node-17",
      "name": "✏️ HTTP — Update Existing Patient Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3100, 120]
    },
    {
      "parameters": {
        "url": "={{ $env.PATIENT_API_BASE + '/patients' }}",
        "method": "POST",
        "options": {}
      },
      "id": "node-18",
      "name": "➕ HTTP — Create New Patient Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3100, 280]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=media",
        "method": "POST",
        "options": {}
      },
      "id": "node-19",
      "name": "💾 HTTP — Archive PDF to Google Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3320, 200]
    },
    {
      "parameters": {
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $env.AUDIT_SHEET_ID + '/values/A1:append?valueInputOption=USER_ENTERED' }}",
        "method": "POST",
        "options": {}
      },
      "id": "node-20",
      "name": "📊 HTTP — Google Sheets Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3540, 200]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {}
      },
      "id": "node-21",
      "name": "📋 GPT-4o — Generate Clinical Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [3760, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst summary = item.choices?.[0]?.message?.content || 'Summary unavailable';\nreturn [{ json: { ...item, clinical_summary: summary }}];"
      },
      "id": "node-22",
      "name": "📝 Code — Extract Clinical Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3980, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.doc_urgency }}",
              "operation": "equal",
              "value2": "STAT"
            }
          ]
        }
      },
      "id": "node-23",
      "name": "🚨 IF — STAT / Critical Case?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [4200, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "options": {}
      },
      "id": "node-24",
      "name": "🔴 HTTP — Slack STAT Alert (Urgent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4420, 120]
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/mail/send",
        "method": "POST",
        "options": {}
      },
      "id": "node-25",
      "name": "📧 HTTP — Email Notification to Doctor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4420, 280]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/pages",
        "method": "POST",
        "options": {}
      },
      "id": "node-26",
      "name": "📌 HTTP — Notion Create Follow-up Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [4640, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: { ...item, compliance_report: { report_id: 'COMP-' + item.doc_id, generated_at: new Date().toISOString(), gdpr_compliant: true, retention_policy: '7_years', encryption: 'AES-256', ai_model: 'gpt-4o', human_review_required: item.has_critical, status: 'SUCCESS' }}}];"
      },
      "id": "node-27",
      "name": "🛡️ Code — Generate RGPD Compliance Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4860, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "options": {}
      },
      "id": "node-28",
      "name": "❌ HTTP — Slack Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "options": {}
      },
      "id": "node-29",
      "name": "⚠️ HTTP — Slack Validation Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2660, 400]
    },
    {
      "parameters": {
        "content": "### 🔴 Error Handling\nDocuments non valides → Slack alert\n+ Email admin pour traitement manuel",
        "height": 120,
        "width": 280,
        "color": 3
      },
      "id": "note-2",
      "name": "Error Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1000, 540]
    },
    {
      "parameters": {
        "content": "### 🔀 Extraction spécialisée\nChaque type de document a son propre\nprompt GPT-4o pour une extraction\nmaximalement précise et structurée",
        "height": 140,
        "width": 300,
        "color": 4
      },
      "id": "note-3",
      "name": "Extraction Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1960, 600]
    },
    {
      "parameters": {
        "content": "### ✅ Output final\n• PDF archivé Google Drive\n• Audit log Google Sheets\n• Résumé clinique GPT-4o\n• Alerte Slack si STAT\n• Email médecin traitant\n• Tâche Notion\n• Rapport RGPD",
        "height": 200,
        "width": 280,
        "color": 6
      },
      "id": "note-4",
      "name": "Output Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [4840, 400]
    }
  ],
  "connections": {
    "📥 Webhook — Receive PDF Document": { "main": [[{ "node": "⚙️ Set — Initialize Variables", "type": "main", "index": 0 }]] },
    "⚙️ Set — Initialize Variables": { "main": [[{ "node": "📄 PDF.co — OCR Extract Text", "type": "main", "index": 0 }]] },
    "📄 PDF.co — OCR Extract Text": { "main": [[{ "node": "✅ IF — OCR Successful?", "type": "main", "index": 0 }]] },
    "✅ IF — OCR Successful?": {
      "main": [
        [{ "node": "🧹 Code — Clean & Normalize Text", "type": "main", "index": 0 }],
        [{ "node": "❌ HTTP — Slack Error Notification", "type": "main", "index": 0 }]
      ]
    },
    "🧹 Code — Clean & Normalize Text": { "main": [[{ "node": "🤖 GPT-4o — Classify Document Type", "type": "main", "index": 0 }]] },
    "🤖 GPT-4o — Classify Document Type": { "main": [[{ "node": "🔍 Code — Parse Document Classification", "type": "main", "index": 0 }]] },
    "🔍 Code — Parse Document Classification": { "main": [[{ "node": "🔀 Switch — Route by Document Type", "type": "main", "index": 0 }]] },
    "🔀 Switch — Route by Document Type": {
      "main": [
        [{ "node": "💊 GPT-4o — Extract Prescription Data", "type": "main", "index": 0 }],
        [{ "node": "🔬 GPT-4o — Extract Lab Results", "type": "main", "index": 0 }],
        [{ "node": "🩻 GPT-4o — Extract Imaging Report", "type": "main", "index": 0 }],
        [{ "node": "📝 GPT-4o — Extract Referral / Other", "type": "main", "index": 0 }],
        [{ "node": "📝 GPT-4o — Extract Referral / Other", "type": "main", "index": 0 }]
      ]
    },
    "💊 GPT-4o — Extract Prescription Data": { "main": [[{ "node": "🔎 Code — Parse & Validate Extracted Data", "type": "main", "index": 0 }]] },
    "🔬 GPT-4o — Extract Lab Results": { "main": [[{ "node": "🔎 Code — Parse & Validate Extracted Data", "type": "main", "index": 0 }]] },
    "🩻 GPT-4o — Extract Imaging Report": { "main": [[{ "node": "🔎 Code — Parse & Validate Extracted Data", "type": "main", "index": 0 }]] },
    "📝 GPT-4o — Extract Referral / Other": { "main": [[{ "node": "🔎 Code — Parse & Validate Extracted Data", "type": "main", "index": 0 }]] },
    "🔎 Code — Parse & Validate Extracted Data": { "main": [[{ "node": "✅ IF — Data Valid?", "type": "main", "index": 0 }]] },
    "✅ IF — Data Valid?": {
      "main": [
        [{ "node": "🔎 HTTP — Search Patient in System", "type": "main", "index": 0 }],
        [{ "node": "⚠️ HTTP — Slack Validation Error Alert", "type": "main", "index": 0 }]
      ]
    },
    "🔎 HTTP — Search Patient in System": { "main": [[{ "node": "👤 IF — Patient Exists in System?", "type": "main", "index": 0 }]] },
    "👤 IF — Patient Exists in System?": {
      "main": [
        [{ "node": "✏️ HTTP — Update Existing Patient Record", "type": "main", "index": 0 }],
        [{ "node": "➕ HTTP — Create New Patient Record", "type": "main", "index": 0 }]
      ]
    },
    "✏️ HTTP — Update Existing Patient Record": { "main": [[{ "node": "💾 HTTP — Archive PDF to Google Drive", "type": "main", "index": 0 }]] },
    "➕ HTTP — Create New Patient Record": { "main": [[{ "node": "💾 HTTP — Archive PDF to Google Drive", "type": "main", "index": 0 }]] },
    "💾 HTTP — Archive PDF to Google Drive": { "main": [[{ "node": "📊 HTTP — Google Sheets Audit Log", "type": "main", "index": 0 }]] },
    "📊 HTTP — Google Sheets Audit Log": { "main": [[{ "node": "📋 GPT-4o — Generate Clinical Summary", "type": "main", "index": 0 }]] },
    "📋 GPT-4o — Generate Clinical Summary": { "main": [[{ "node": "📝 Code — Extract Clinical Summary", "type": "main", "index": 0 }]] },
    "📝 Code — Extract Clinical Summary": { "main": [[{ "node": "🚨 IF — STAT / Critical Case?", "type": "main", "index": 0 }]] },
    "🚨 IF — STAT / Critical Case?": {
      "main": [
        [{ "node": "🔴 HTTP — Slack STAT Alert (Urgent)", "type": "main", "index": 0 }, { "node": "📧 HTTP — Email Notification to Doctor", "type": "main", "index": 0 }],
        [{ "node": "📧 HTTP — Email Notification to Doctor", "type": "main", "index": 0 }]
      ]
    },
    "🔴 HTTP — Slack STAT Alert (Urgent)": { "main": [[{ "node": "📌 HTTP — Notion Create Follow-up Task", "type": "main", "index": 0 }]] },
    "📧 HTTP — Email Notification to Doctor": { "main": [[{ "node": "📌 HTTP — Notion Create Follow-up Task", "type": "main", "index": 0 }]] },
    "📌 HTTP — Notion Create Follow-up Task": { "main": [[{ "node": "🛡️ Code — Generate RGPD Compliance Report", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "wf-medical-doc-intelligence",
  "meta": { "templateCredsSetupCompleted": false }
}
